$btnBlack: #252525;
$cream: #f2d8b9;
$blue: #f2d8b9;
$white: #ffffff;
$black: #000000;
$primary: #82ca9c;

@mixin main-font {
  font-family: "Poppins", sans-serif;
}

@mixin secondary-font {
  font-family: 'Roboto', sans-serif; 

}

@mixin hero_btn($col1, $col2, $pad1, $pad2) {
  display: inline-block;
  padding: $pad1 $pad2;
  background-color: $col1;
  border: 1px solid $col1;
  color: $col2;

  &:hover {
    background-color: transparent;
    color: $col1;
  }
}

@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}

body {
  @include main-font;
  color: $black;
  background-color: #ffffff;
}

.layout_padding {
  padding: 100px 0;
}

.layout_padding2 {
  padding: 55px 0;
}

.layout_padding2-top {
  padding-top: 55px;
}

.layout_padding2-bottom {
  padding-bottom: 55px;
}

.layout_padding-top {
  padding-top: 100px;
}

.layout_padding-bottom {
  padding-bottom: 100px;
}

.helthproducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item{
        width: 24%;
    }
}

.custom_heading-container {
  display: flex;
  justify-content: center;

  h2 {
    text-transform: uppercase;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 5px;
      background-color: $primary;
    }
  }
}

/*header section*/
header {
  background: #82ca9c;
}

.hero_area {
  height: 100vh;
  background-image: url(./images/hero-bg.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;


  .banner-content{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
  }
  h1{
    font-family: cursive;
    color: #fff;
    font-style: italic;
    font-weight: 600;
    font-size: 55px;
  }
  
button {
  padding: 10px 20px;
  background: #fff;
  margin-top: 15px;
  border-radius: 20px;
  font-family: cursive;
  font-weight: bold;
}
}

.sub_page {
  .hero_area {
    height: auto;
  }
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  .top_contact-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;

    @include secondary-font();

    .tel_container {
      a {
        color: $white;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        img {
          width: 20px;
          margin-right: 10px;
        }
      }
    }

    .social-container {
      img {
        margin: 0 5px;

        &.s-1 {
          width: 25px;
        }

        &.s-2 {
          width: 25px;
        }

        &.s-3 {
          width: 25px;
        }
      }
    }
  }

  .container-fluid {
    background-color: #2c2c2c;
  }
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 25px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  @include secondary-font();
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.navbar-brand,
.navbar-brand:hover {
  @include upperBold;
  font-size: 24px;
  color: #fafcfd;
}

.custom_nav-container .nav_search-btn {
  background-image: url(./images/search-icon.png);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  border-radius: 0;
}

.login_btn-contanier {


  a {
    text-transform: uppercase;
    color: $white;
    display: flex;
    align-items: center;
    @include secondary-font();

    img {
      margin-right: 15px;
    }
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 40px;
  margin-right: 5px;
}

.navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: $white;
  margin-top: 5px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 10px 0;

  .form-inline {
    flex-grow: 1;
    flex-wrap: nowrap;

    input {
      width: 84%;
      border: none;
      outline: none;
      padding: 4px;
      padding-left: 15px;
      text-transform: uppercase;
      height: 35px;
      background-color: $white;
    }

    button {
      background-color: $white;
    }
  }
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(./images/menu.png);
  background-size: 42px;
}

/*end header section*/

/* slider section */
.slider_section {
  height: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 75px;

  .img-box {
    img {
      width: 100%;
    }
  }

  .detail-box {
    h1 {
      color: #2c2c2c;

      span {
        font-size: 4rem;
        color: $white;
        font-weight: bold;
      }
    }

    p {
      color: $white;
    }

    a {
      @include hero_btn(#2c2c2c, $white, 10px, 45px);
      margin-top: 35px;
      margin-bottom: 45px;
    }
  }

  #carouselExampleIndicators {
    width: 100%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    left: 2.5%;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    background-color: #2c2c2c;
    transform: translateY(-50%)translatex(0);

    &:hover {
      background-color: $white;
      width: 55px;
      height: 55px;
      transform: translateY(-50%)translatex(-5px);
    }
  }



  .carousel-control-prev {
    top: 47%;
    background-image: url(./images/left-arrow.png);

    &:hover {
      background-image: url(./images/left-arrow-blue.png);
    }
  }

  .carousel-control-next {
    top: 62%;
    background-image: url(./images/right-arrow.png);

    &:hover {
      background-image: url(./images/right-arrow-blue.png);
    }
  }


  .carousel-indicators {
    bottom: -75px;

    li {
      margin: 0;
      height: 1px;
      opacity: 1;
      width: 40px;

      &.active {
        height: 5px;
        margin-top: -2px;
        width: 45px;
      }
    }
  }

}

// end slider section

// feature section
.feature_section {
  .feature_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

    .box {
      display: flex;
      width: 350px;
      min-width: 350px;
      flex-direction: column;
      align-items: center;
      margin: 30px auto;

      .img-box {
        border: 1px solid $black;
        width: 85px;
        padding: 15px;
        border-radius: 3px;

        svg {
          width: 100%;
          height: auto;
        }
      }

      .detail-box {
        margin-top: 15px;

        h5 {
          text-transform: uppercase;
          font-weight: bold;
        }
      }

      &:hover {
        .img-box {
          border: 1px solid $primary;

          svg {
            fill: $primary;
          }
        }
      }
    }
  }
}

// end feature section

// discount section
.discount_section {
  background-color: #1e1d1d;
  color: $white;

  .row {
    align-items: center;

    .col-lg-7 {
      padding: 0;
    }
  }

  .detail-box {
    padding: 45px 0;

    h2 {
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: bold;

      span {
        color: $primary;
      }
    }

    p {
      margin-top: 25px;
    }

    a {
      @include hero_btn($primary, $white, 10px, 45px);
      margin-top: 35px;
    }
  }

  .img-box {
    img {
      width: 100%;
    }
  }
}

// end discount section

// health section
.health_section {
  .health_carousel-container {
    width: 90%;
    margin: 0 auto;
  }



  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 360px;
    justify-content: space-between;
    border: 1px solid #a6a6a6;
    margin: 20px 0;
    @include secondary-font();

    .img-box {
      img {
        width: 100%;
      }
    }

    .btn_container {
      width: 100%;

      a {
        @include hero_btn(#2c2c2c, $white, 8px, 15px);
        margin: -0.5px 0 0 -0.5px;

        &:hover {
          background-color: $primary;
          color: $white;
          border-color: transparent;
        }
      }
    }

    .detail-box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 15px;

      .star_container {
        color: #f5c608;
      }

      .text {
        display: flex;

        h6 {
          text-transform: uppercase;

          &.price {
            font-weight: bold;
            margin-left: 15px;

            span {
              color: $primary;
            }
          }
        }
      }
    }
  }

  .owl-carousel .owl-nav.disabled {
    display: block;

    &>div {
      position: absolute;
      top: -65px;
      background-color: #2c2c2c;
      width: 50px;
      height: 50px;
      background-size: 10px;
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background-color: $primary;
      }
    }

    .owl-prev {
      background-image: url(./images/prev.png);
      right: 95px;

    }

    .owl-next {
      background-image: url(./images/next.png);
      right: 35px;
    }
  }


}

// end health section

// about section

.about_section {
  background-color: #f9f9f9;
  text-align: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-box {
      margin: 45px 0;
      margin-left: 40px;

      img {
        width: 100%;
      }
    }

    .detail-box {
      a {
        @include hero_btn(#2c2c2c, $white, 10px, 45px);
        margin-top: 35px;
      }
    }
  }
}

// end about section

// client section
.client_section {
  .client_container {
    width: 550px;
    margin: 0 auto;
    text-align: center;

    .client_detail {
      border: 1px solid $black;
      padding: 25px 20px;

      p {
        margin: 0;
      }
    }

    .client_box {
      margin-top: 35px;

      .name {
        margin-top: 25px;

        h5 {
          text-transform: uppercase;
        }

        h6 {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #2deaf5;

          img {
            margin-top: 5px;
          }
        }
      }
    }
  }

  .carousel-indicators {
    align-items: center;
    bottom: -25px;

    li {
      margin: 3px;
      width: 20px;
      height: 20px;
      opacity: 1;
      background-color: $primary;
      border-radius: 100%;
      position: relative;
 
      &::before {
        content: "";
        width: 35%;
        height: 35%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white;
        border-radius: 100%;
      }

      &.active {
        background-color: #161616;
        width: 15px;
        height: 15px;

        &::before {
          display: none;
        }
      }
    }
  }
}

// end client section

// contact section
.contact_section {
  .custom_heading-container {
    justify-content: start;

    h2 {
      &::after {
        left: 0;
        transform: none;
      }
    }
  }

  .form_contaier {
    form {
      .form-group {
        margin-bottom: 20px;
      }

      .form-control {
        border-radius: 0;
        height: 35px;
        box-shadow: none;

        &#exampleInputMessage {
          height: 100px;
        }
      }

      button {
        @include hero_btn(#121313, $white, 10px, 50px);
        border-radius: 5px;
        margin-top: 15px;
      }
    }
  }

  .detail-box {
    background-image: url(./images/contact-bg.jpg);
    color: $white;
    padding: 140px 15%;
    text-align: center;
    margin-top: 30px;

    h3 {
      font-weight: bold;
      font-size: 32px;
    }

    p {
      margin-top: 25px;
    }
  }
}

// end contact section

// info section
.info_section {
  background-color: #121111;
  color: $white;

  h4 {
    text-transform: uppercase;
    font-weight: bold;
  }

  .info_contact {
    .box {
      margin: 10px 0;
      display: flex;

      .img-box {
        margin-right: 15px;

        img {
          width: 25px;
        }
      }
    }
  }

  .info_menu {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $white;
        }
      }
    }
  }

  .info_news {
    form {
      input {
        width: 100%;
        padding: 3px 10px;
      }

      button {

        @include hero_btn($primary, $white, 7px, 60px);
      }
    }
  }
}

// end info section

/* footer section*/

.footer_section {
  background-color: #121111;

  font-weight: 500;
}

.footer_section p {
  color: #fbfcfd;
  margin: 0;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #9b9b9b;
  width: 65%;
  margin: 0 auto;
} 

.footer_section a {
  color: #fbfcfd;
}

/* end footer section*/



.item-container {
  justify-content: space-evenly;
}
.card {
  text-align: center;
  padding: 10px;
  margin: 1em 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

img {
  width: auto;
  height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}
h3{
  display: block;
  max-height: 1.6em;
  line-height: 1.6em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
}
/* PRODUCT PAGE STYLES */
.product-container {
  display: flex;
  justify-content: space-evenly;
  padding: 6em 6em 2.5em 6em;
  gap: 6em;
}
.prod-image {
  width: 55rem;
  height: auto;
}
.brand {
  text-align: left;
}
.back {
  text-align: center;
  margin-bottom: 2em;
}


//  Cart page Cart page Cart page Cart page Cart page 

// @import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);
// @import "compass/reset";
$fontSans : 'Montserrat', sans-serif;
$fontSerif : "Poppins", sans-serif;  


@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

.cf:before,.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}


.wrap {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  padding: 5% 0;
  margin-bottom: 5em;
  
}

.projTitle {
   font-family: $fontSans;
    font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
  span {
    font-family: $fontSerif;
    font-weight: normal;
    font-style: italic;
     text-transform: lowercase;
    color: #777;
    
  }
}
// CART HEADER
.heading {
  padding: 1em 0;
  border-bottom: 1px solid #D0D0D0;
 
  h1 {
   font-family: $fontSerif;
   font-size: 2em;
   float: left;
  }
  a.continue {
    &:link , &:visited {
      text-decoration: none;
      font-family: $fontSans;
      letter-spacing: -.015em;
      font-size: .75em;
      padding: 1em;
      color: #fff;
      background: #82ca9c;
      font-weight: bold;
      border-radius: 50px;
    float: right;
      text-align: right;
       @include transition(all, .25s, linear);
    }
    &:after {
      content: "\276f";
      padding: .5em;
      position: relative;
      right:0;
       @include transition(all, .15s, linear);
      
    }
    &:hover , &:focus, &:active {
      background: #f69679;
      
      &:after {
        right: -10px;
      }
    }
  }
}

// TABLE HEADING 

.tableHead {
  display: table;
  width: 100%;
  font-family: $fontSans;
  font-size: .75em;
  li {
    display: table-cell;
    padding: 1em 0;
    text-align: center;
    &.prodHeader {
      text-align: left;
    }
  }
}

// CART Items

.cart {
  padding: 1em 0 ;
 
  .items {
    display: block;
    width: 100%;
 vertical-align: middle;
    padding: 1.5em;
   
    border-bottom: 1px solid #fafafa;
    &.even {
      background: #fafafa;
    }
    .infoWrap {
      display: table;
      width: 100%;
    }
    .cartSection {
      display: table-cell;
 
      vertical-align: middle;
      
      
      .itemNumber {
  font-size: .75em;
        color: #777;
        margin-bottom: .5em;
}
      
      h3 {
   
        font-size: 1em;
      font-family: $fontSans;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .025em;
        
         
      }
      p {
        display: inline-block;
        font-size: .85em;
        
        color: #777777;
        font-family: $fontSans;
            .quantity {
        font-weight: bold;
              color: #333;
      }
        
        &.stockStatus {
          color: #82CA9C;
          font-weight: bold;
          padding: .5em 0 0 1em;
          text-transform: uppercase;
          &.out {
            color: #F69679;
          }
        }
        
      }
      .itemImg {
        width: 4em;
       
        float: left;
      }
      &.qtyWrap , &.prodTotal {
        text-align: center;
    p {
      font-weight: bold;
      font-size: 1.25em;
    }
       
      }
      
    input.qty {
        width: 2em;
        text-align: center;
        font-size: 1em;
          padding: .25em;
      margin: 1em .5em 0 0;
        
      }
      .itemImg {
        width: 8em;
        display: inline;
        padding-right: 1em;
      }
       
 
    }
  }
  
}   
 
 .special {
   display: block;
   font-family: $fontSans;
  .specialContent {
   padding: 1em 1em 0;
    display: block; 
   margin-top:.5em;
   border-top: 1px solid #dadada;
   &:before {
     content: "\21b3";
     font-size: 1.5em;
      margin-right: 1em;
     color: #6f6f6f;
     font-family: helvetica, arial, sans-serif;
   }}
 
 }

a.remove {
  text-decoration: none;
  font-family: $fontSans;
  color: #ffffff;
  font-weight: bold;
  background: #e0e0e0;
  padding: .5em;
  font-size: .75em;
  display: inline-block;
  border-radius: 100%;
  line-height: .85;
   @include transition(all, .25s, linear);
  &:hover {
    background: #f30;
  }
}

.promoCode {
  border:2px solid #efefef;
  float: left;
  width: 35%;
  padding: 2%;
  label {
    display: block;
    width: 100%;
 font-style: italic;
    font-size: 1.15em;
 
    margin-bottom: .5em;
    letter-spacing: -.025em;
    
  }
  input {
    width: 85%;
    font-size: 1em;
    padding: .5em;
    float: left;
    border: 1px solid #dadada;
    &:active, &:focus {
      outline: 0;
     
    }
  }
  a.btn {
    float: left;
    width: 15%;
    padding: .75em 0;
    border-radius: 0 1em 1em 0;
    text-align: center;
    border: 1px solid #82ca9c;
    &:hover {
       border: 1px solid #f69679;
       background: #f69679;
    }
  }
}

.btn {
     &:link , &:visited {
      text-decoration: none;
      font-family: $fontSans;
      letter-spacing: -.015em;
      font-size: 1em;
      padding: 1em 3em;
      color: #fff;
      background: #82ca9c;
      font-weight: bold;
      border-radius: 50px;
       @include transition(all, .25s, linear);
    }
      &:after {
      content: "\276f";
      padding: .5em;
      position: relative;
      right:0;
       @include transition(all, .15s, linear);
      
    }
    &:hover , &:focus, &:active {
      background: #f69679;
        &:after {
        right: -10px;
      }
    }
  
  .promoCode & {
    font-size: .85em;
    padding: .5em 2em;
  }
}

/* TOTAL AND CHECKOUT  */
.subtotal {
float: right;
 width: 35%;
  .totalRow {
    padding: .5em;
   text-align: right;
  
    &.final {
      font-size: 1.25em;
      font-weight: bold;
    }
    span {
      display: inline-block;
      padding: 0 0 0 1em;
      text-align: right;
     
    }
    .label {
       font-family: $fontSans;
      font-size: .85em;
      text-transform: uppercase;
      color: #777;
    }
    .value {
 
      letter-spacing: -.025em;
      width: 35%;
    }
  }
}

@media only screen and (max-width:39.375em){

.wrap {
  width: 98%;
  padding: 2% 0;
}
.projTitle{
  font-size: 1.5em;
  padding: 10% 5%;
}
.heading {
  padding: 1em;
  font-size: 90%;
}
.cart {
  .items {

  .cartSection {
    width: 90%;
      display: block;float: left;
     &.qtyWrap {
       width: 10%;
      text-align: center;
       padding: .5em 0;
       float: right;
       &:before {
         content: "QTY";
         display: block;
         font-family: $fontSans;
         padding: .25em;
         font-size: .75em;
       }
     }
     &.prodTotal , &.removeWrap { 
       display: none;
     }
    .itemImg {
      width: 25%;
    }
  }
  }}
.promoCode , .subtotal{
  width: 100%;
}

  a.btn.continue {
width: 100%;
text-align: center;
}
}